

:root{
    --cardBackground: #8ec7ec;
    --titleBackground: #135013;

}

body{
    background-color: var(--titleBackground);
}

.weather {
    background-color: var(--cardBackground);
}

.userChoice {
    border-bottom: darkblue 3px solid;
}

.low {
    background-color: #5bc78a ;
}

.moderate{
    background-color: #dbd145 ;
}

.high {
    background-color: #c7865b;

}

.very-high {
    background-color: #d41919;
}

.extreme {
    background-color: #c02eb4;
}
